<form class="form-horizontal" ng-submit="submitVersionForm()">
	
	<div ng-show="error">
		<div class="alert alert-danger">{{error}}</div>
	</div>

	<div ng-show="success">
		<div class="alert alert-success">{{success}}</div>
	</div>

	<div ng-if="new_entity" class="form-group">
		<label for="version_number" class="control-label col-lg-3">Version Number</label>
		<div class="col-lg-9">
			<input id="version_number" ng-model="version.version_number" class="form-control" type="text">	
		</div>
	</div>

	<div class="form-group">
		<label for="version_header" class="control-label col-lg-3">Version Header</label>
		<div class="col-lg-9">
			<input id="version_header" ng-model="version.version_header" class="form-control" type="number">	
		</div>
	</div>

	<div class="form-group">
		<label for="archive" class="control-label col-lg-3">ZIP Archive</label>
		<div class="col-lg-9">
			<input id="archive" djfm-file-input="version.archive" class="form-control" type="file">	
		</div>
	</div>


	<div class="form-group">
		<div class="col-lg-12">
			<span ng-if="!new_entity" class="pull-left">
				<button djfm-confirm-click ng-click="deleteVersion(version.version_number)" class="btn btn-danger" type="button">DELETE</button>
			</span>
			<span class="pull-right">
				<button class="btn btn-default" type="submit">Submit</button>
			</span>
		</div>
	</div>

</form>